<div class="container-fluid">

    <h2 class="mb-4">
        Change Password
    </h2>

    <div class="card shadow-sm">

        <div class="card-body">

            <form
                [formGroup]="form"
                (ngSubmit)="changePassword()">

                <div class="mb-3">

                    <label class="form-label">
                        Current Password
                    </label>

                    <input
                        type="password"
                        class="form-control"
                        formControlName="currentPassword">

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        New Password
                    </label>

                    <input
                        type="password"
                        class="form-control"
                        formControlName="newPassword">

                </div>

                <div class="mb-4">

                    <label class="form-label">
                        Confirm Password
                    </label>

                    <input
                        type="password"
                        class="form-control"
                        formControlName="confirmPassword">

                </div>

                <button
                    class="btn btn-primary"
                    [disabled]="loading">

                    Change Password

                </button>

            </form>

        </div>

    </div>

</div>