<div class="sidebar" [class.collapsed]="collapsed">

  <div class="sidebar-header">
    <h5>Navigation</h5>
  </div>

  <ul class="sidebar-menu">

    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li>
        <a routerLink="/profile" routerLinkActive="active">
            <i class="fa-solid fa-id-card"></i>
            <span>My Profile</span>
        </a>
    </li>

  

  <li>
      <a routerLink="/users" routerLinkActive="active">
          <i class="fa-solid fa-users"></i>
          <span>Users</span>
      </a>
  </li>

    <li>
      <a routerLink="/doctors" routerLinkActive="active">
        <i class="fa-solid fa-user-doctor"></i>
        <span>Doctors</span>
      </a>
    </li>

    <li>
      <a routerLink="/patients" routerLinkActive="active">
        <i class="fa-solid fa-hospital-user"></i>
        <span>Patients</span>
      </a>
    </li>

    <li>
      <a routerLink="/departments" routerLinkActive="active">
        <i class="fa-solid fa-building"></i>
        <span>Departments</span>
      </a>
    </li>

  <li>
    <a routerLink="/appointments" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-solid fa-calendar-check"></i>
      <span>Appointments</span>
    </a>
  </li>
  
  <li>
    <a routerLink="/appointments/my" routerLinkActive="active">
      <i class="fa-solid fa-calendar-days"></i>
      <span>My Appointments</span>
    </a>
  </li>

    <li>
      <a routerLink="/queue" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa-solid fa-list-check"></i>
        <span>Queue</span>
      </a>
    </li>

    <li>
      <a routerLink="/queue/my" routerLinkActive="active">
      <i class="fa-solid fa-ticket"></i>
      <span>My Queue</span>
      </a>
    </li>

    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <i class="fa-solid fa-gear"></i>
        <span>Settings</span>
      </a>
    </li>

    <li>
        <a routerLink="/change-password"  routerLinkActive="active">
            <i class="fa-solid fa-key"></i>
            <span>Change Password</span>
        </a>
    </li>

    <li>
      <a  href="javascript:void(0)" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
      </a>
    </li>

  </ul>

</div>