<header class="header">

    <div class="left-section">

        <button class="menu-btn">

            <i class="fa-solid fa-bars"></i>

        </button>

        <span class="logo">

            Smart OPD

        </span>

    </div>

    <div class="right-section">

        <button class="icon-btn">

            <i class="fa-regular fa-bell"></i>

        </button>

        <button class="profile-btn">

            <i class="fa-solid fa-circle-user"></i>

            <span>{{userName}}</span>

        </button>

    </div>

</header>